<%= form_for(@definition) do |f| %>
  <% if @definition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@definition.errors.count, "error") %> prohibited this definition from being saved:</h2>

      <ul>
      <% @definition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :word %>
    <%= f.text_field :word %>
    <%= f.label :type %>
    <%= f.select(:word_type, ['', 'noun', 'verb', 'pronoun', 'adverb', 'adjective', 'other']) %>
    <%= f.label :meaning %>
    <%= f.text_field :meaning, size: "50"%>
  </div>
  <div class="actions">
    <%= f.submit %><br>
    <div id="cancel"><%= link_to '', definitions_path, class: "glyphicon glyphicon-ban-circle"%></div>
  </div>
<% end %>
