<p id="notice"><%= notice %></p>
<div id="add_word">
  Help us out and <%= link_to 'ADD A WORD', new_definition_path %> to our list!
  <div>
    <%= form_tag("/search", method: "get") do %>
    <%= submit_tag("Search") %>
      <%= text_field_tag(:q) %>
    <% end %>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Words</th>
      <th></th>
      <th>Meaning</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @definitions.select do |definition| %>
    <% if definition.word.include?(params[:q]) || definition.meaning.include?(params[:q])%>
    <tr class="spaces">
      <td id="edit"><%= link_to '', edit_definition_path(definition), class: "glyphicon glyphicon-edit" %></td>
      <td class="words"><%= link_to "#{definition.word}", definition %></td>
      <td>:<%= definition.word_type %></td>
      <td>:<%= definition.meaning %></td>
      <td id="delete">
        <%= link_to '', definition, method: :delete, class: "glyphicon glyphicon-remove-sign", data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
