<p id="notice"><%= notice %></p>

<div id="show_word">
  <%= link_to 'Edit', edit_definition_path(@definition) %> |
  <%= link_to 'Home', definitions_path %>
  <div>
    <strong><%= @definition.word %>:</strong><%= @definition.word_type %>
  </div>
  <p>
    <%= @definition.meaning %>
  </p>
</div>
