<p id="notice"><%= notice %></p>
<div id="header">
  <img id="logo" src="/TIY_logo.png"/>
  <h1>---@ Dictionary Database @---</h1>
</div>

<div id="show_word">
  <%= link_to 'Edit', edit_definition_path(@definition) %> |
  <%= link_to 'Back', definitions_path %>
  <div>
    <strong><%= @definition.word %>:</strong>
  </div>
  <p>
    <%= @definition.meaning %>
  </p>
</div>
