<p id="notice"><%= notice %></p>

<div id="show_word">
  <div><strong><%= @definition.word %></div>
    <span> -</strong><%= @definition.word_type %> </span>
  <p>
    :<%= @definition.meaning %>
  </p>
  <%= render 'form' %>
  <div id="return"><%= link_to '', definitions_path, class: "glyphicon glyphicon-arrow-left"%>
</div>
