<!DOCTYPE html>
<html>
<head>
  <title>Dictionary</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <div id="header">
    <%= image_tag "brain_logo.jpg" %>
    <h1>---<@ Dictionary Database @>---</h1>
    <nav class="navbar navbar-default">
      <a href="/"><img src="/brain_logo.jpg"/></a>
      <div id="homelink"><%= link_to '', definitions_path, class: "glyphicon glyphicon-home"%></div>
      <div id="add_word"><%= link_to 'ADD A WORD', new_definition_path %></div>
      <div id="nav_spacer"></div>
      <div id="to_search">
        <%= form_tag("/search", method: "get") do %>
        <%= text_field_tag(:q) %>
        <%= submit_tag("Search") %>
        <% end %>
      </div>
    </nav>
  </div>

  <%= yield %>

</body>
</html>
