<!DOCTYPE html>
<html>
<head>
  <title>Dictionary</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <div id="header">
    <nav class="navbar navbar-default">
      <a href="/"><img src="/brain_logo.jpg"/></a>
      <div id="homelink"><%= link_to '', definitions_path, class: "glyphicon glyphicon-home"%></div>
      <div id="nav_spacer">
        <% if user_signed_in? %>
        <div id="logout"><%= link_to "Logout", destroy_user_session_path, method: :delete, data: { confirm: "Is this really goodbye? :'(" } %></div>
        <% else %>
        <div id="login"><%= link_to "Login", new_user_session_path, method: :create %></div>
        <% end %>
      </div>
      <div id="add_word">
        <% if user_signed_in? %>
        <%= link_to 'ADD A WORD', new_definition_path %>
        <% else %>
        <div id="add_word"></div>
        <% end %>
      </div>
      <div id="search">
        <input id="to_search" type="text" placeholder=" Search for words" data-remote= "true">
      </div>
    </nav>
    <h1>---<@ Dictionary Database @>---</h1>
  </div>


  <%= yield %>

</body>
</html>
